# Node
node_modules/
.next/
.env
.env.local
.env*.local

# Build
out/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Sui
contracts/.sui/
*.exe
*.tgz

# Temp scripts
web/fetch.ts
web/fetch_posts.js
web/publish.mjs
web/publish_articles.ts
